<div class="slogan">
  <div class="container">
    <div class="row">
      <div class="slogan-content">
        <div class="col-lg-12 col-md-12">
          <h2 class="slogan-title">订单预览</h2>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="slogan">
  <div class="container">
    <div class="row">
      <div class="slogan-content">
        <div class="col-lg-12 col-md-12">
          <h2 class="slogan-title">个人信息</h2>
        </div>
      </div>
    </div>
  </div>
</div>