<!DOCTYPE html>
<html>
<head>
  <title>Waimai</title>
  <%= stylesheet_link_tag    'add/css/add.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'add/js/add.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
